{% extends "layout.njk" %}

{% block content %}

    <div id="wrapper">
        <img src="https://avatars2.githubusercontent.com/u/53655211?s=460&v=4" alt="Joseffe">
        <h1>Joseffe Oliveira</h1>
        <h2>Arquiteto de Soluções e Professor Mestre Universitário</h2>
        <p>Atuação como Desenvolvedor, DBA e Coordenador de Equipe de Desenvolvimento de Software. Professor Universitário da
            <a href="https://unip.br" target="_blank">UNIP</a>,
            <a href="https://esamc.br" target="blank">ESAMC</a>
            e
            <a href="http://cbt.ifsp.edu.br/" target="blank">IFSP</a>
        </p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/joseffe10/" target="_blank">Github</a>
        <a href="https://twitter.com/joseffe/" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com/in/joseffe-oliveira-1aaa383a/" target="_blank">Linkedin</a>
    </div>

{% endblock %}