<!DOCTYPE html>
<html>

    <head>
        <title>..:: Joseffe Web page ::..</title>

        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/amigos">Amigos</a>
            </div>
        </header>

        {% block content %}{% endblock %}
    </body>

</html>